* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, sans-serif;
  background: #f7f9fc;
  color: #111;
}
header {
  background-image: url(images/Hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
button.btn {
  cursor: pointer;
}
form {
  max-width: 500px;
  margin: auto;
  display: grid;
  gap: 16px;
}
img {
  border-radius: 20px;
}
input {
  padding: 12.8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea {
  height: 80px;
  padding: 12.8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
}
footer {
  background: white;
  padding: 32px;
  text-align: center;
  font-weight: bold;
  color: #3f3fff;
}

.action {
  background: #fff;
  padding: 48px 16px;
}
.action .container {
  flex-direction: row;
  gap: 32px;
}
.banner {
  text-align: center;
  padding: 64px 16px;
}
.banner h1 {
  font-size: 32px;
  margin-bottom: 24px;
}
.btn {
  background: #3f3fff;
  color: white;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}
.btn:hover {
  box-shadow: 0 8px 20px rgba(63, 63, 255, 0.3);
  transform: scale(1.05);
  background-color: yellow;
  color: black;
}
.card {
  background: #f2f4f8;
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  margin: 8px auto;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.contact {
  background: #f7f9fc;
  padding: 48px 16px;
  text-align: left;
}
.contact-container {
  display: flex;
  gap: 20px;
  max-width: 1000px;
  margin: auto;
}
.contact-left,
.contact-right {
  flex: 1;
}
.contact-left {
  text-align: center;
  margin: auto;
}
.container {
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feedbacks {
  background: #fff;
  padding: 48px 16px;
  text-align: center;
}
.light {
  font-weight: 300;
  color: #666;
}
.light a {
  color: #333;
  text-decoration: none;
}
.light a:hover {
  color: blue;
  text-decoration: underline;
}
.lighter {
  font-weight: 200;
  color: #999;
}
.logo {
  font-weight: bolder;
  font-size: 25px;
  color: #3f3fff;
}
.navbar {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.promo {
  background: #fff;
  padding: 48px 16px;
  text-align: center;
}
.promo img {
  max-width: 100%;
  margin: 24px 0;
}
.stat {
  margin: 0 32px;
}
.stats {
  background: #e7ebff;
  padding: 32px 16px;
  text-align: center;
}
.stat h3 {
  font-size: 32px;
  color: #3f3fff;
}
.user-info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}
.user-details {
  text-align: left;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }
  .card {
    width: 90%;
    margin: 16px auto;
  }
}
